.sona-container .sonas .sona .preview-details {
    background: #333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 0px;
    padding-right: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sona-container .sonas .sona .preview-caption {
    background: #333;
    color: #fff;
    padding: 16px;
    border: none;
    margin-right: 8px;
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-bottom-left-radius: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
}

.sona-container .sonas .sona .preview-image {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #333;
}

.preview-change-image {
    margin-right: .5rem;
}

.sonas .sona {
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}