/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/css/common.css
/public/js/manifest.js*
/public/js/vendor.js*
/public/js/app.js*
/public/mix-manifest.json
/storage/*.key

/vendor
#.env
.env.backup

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
yarn.lock
/.vscode
package-lock.json
yarn.lock

/container/db/genesis.sql
/container/.env.docker
/container/db/data
/container/db/*.sql
/container/certbot/*
/storage/debugbar
